<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <!-- Fathom - beautiful, simple website analytics -->
        <script src="https://cdn.usefathom.com/script.js" data-site="EAJVRFFL" defer></script>
        <!-- / Fathom -->
    </head>
    <body class="bg-zinc-950 text-zinc-100 font-sans leading-relaxed antialiased">
        <div class="min-h-screen">
            {{ template_content }}
        </div>
    </body>
</html>
